# compiled output
# /client/dist
/angular/tmp
/angular/out-tsc

# dependencies
/node_modules
/angular/node_modules
/node/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/angular/.sass-cache
/angular/connect.lock
/angular/coverage
/angular/libpeerconnection.log
/angular/npm-debug.log
/angular/yarn-error.log
/angular/testem.log
/angular/typings
/angular/uploads
/angular/nohup.out
/angular/relationFiles

#uploaded or created files

/sampleData
/Demo
# System Files
.DS_Store
Thumbs.db

package-lock.json

# output 
*.csv
